Mikołaj Fejzer <mfejzer@mat.umk.pl> <mfejzer@gmail.com>
Mikołaj Fejzer <mfejzer@mat.umk.pl> <mfejzer@mat.umk.plw>
Mikołaj Fejzer <mfejzer@mat.umk.pl>
Jakub Narębski <jnareb@mat.umk.pl> <jnareb@gmail.com>
Jakub Narębski <jnareb@mat.umk.pl>
Piotr Przymus <piotr.przymus@mat.umk.pl> <piotr.przymus@gmail.com>
Piotr Przymus <piotr.przymus@mat.umk.pl> <eror@mat.umk.pl>
Piotr Przymus <piotr.przymus@mat.umk.pl>
Krzysztof Stencel <stencel@mimuw.edu.pl> <krzysztof.stencel@gmail.com>
Krzysztof Stencel <stencel@mimuw.edu.pl> <k.stencel@uw.edu.pl>
Krzysztof Stencel <stencel@mimuw.edu.pl>
